body {
    font-family: 'Times New Roman', Times, serif;
  }
  h1 
    {
      color: blue;
  }

  thead {
    font-weight: medium;
  }

  thead td{
    text-align: center;

  }

  table{
    border-collapse: collapse;
    width: 70%;
    
  }td{
    border: 1px solid blue;
    padding: 10px;
  }
